
body {
    color:white;
    width: 100vw;
    height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: black;
    margin:0;
    padding:0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    margin:0;
    padding:0;
}

p{
    font-size: 20px;
}
h1{

    font-weight: 300;
    margin-top:10rem;
    margin-left:-2rem;
    font-size: 40px;
    text-align: center;
    display: flex;
    justify-content: center;
}
h2
{
    font-weight: 300;
    font-size:35px;

    margin-left: 35%;
}
h3
{
    font-weight:200;
    font-size:25px;


}

#profile{
    width:20rem;
    height:20rem;
    border-radius: 50%;

    margin-top: 50%;
}
#github{
    background-color: white;
    border-radius:60px;

    margin-left:-1rem;
    margin-top: .5rem;


}


#linkedin{
    margin-left: 1rem;
}



#intro
{
    
    margin:0;
    margin-left: 10%;
}

#about-me-box
{

    z-index:-1;
    width:100%;
    height:14rem;
    margin-top:5rem;
    background-color: rgb(26, 24, 24);
}
#about-me
{
    margin-top:-14rem;
}

.interest
{
    
    font-size:20px;
    margin-left:10%;
    margin-right: 10%;
    text-align: center;
}
#projects
{
    margin-top:7rem;
}

#projects p
{
    
    display: flex;
    margin-left:5rem;

    margin-top:1rem;
    max-width: 50%;
}
#projects a
{
    color:rgb(13, 181, 13);
    font-size:20px;
    
}
.m13gh
{
    margin-left:5rem;
}
.ppgh
{
    margin-left:2rem;
}
.sc4gh
{
    margin-left:6rem;
}
#math13-proj
{
    display: flex;

    flex-wrap: wrap;
}

#parks-title
{
    margin-left:2.5rem;
}
#m13-title
{
    margin-left: 1rem;
}
#sc4-title
{
    margin-left:2rem;
}
#parks-proj
{
    display: flex;
    flex-wrap: wrap;

}
#shrekconnect4-proj
{
    display: flex;
    flex-wrap: wrap;
}




#clubs-activities div
{
    display: flex;

}
#clubs-activities h3
{
    text-align: center;
    margin-top:3rem;

}
#clubs-activities img
{
    margin-left:-7rem;
}
#clubs-activities p
{
    margin-top:3rem;
    margin-left:10rem;
    margin-right:1rem;
}
#trumpet, #robotics, #tkh
{
    margin-top:3rem;
    margin-left:5rem;
    background-color:rgb(35, 35, 35);
}
#clubs-activities .robotics-title
{
    margin-left:-10rem;
}
#clubs-activities #trumpet-title
{
    margin-left:-5rem;
}
#hs-title
{
    margin-left: 20rem;
    font-size:30px;
}

.snippets
{
    height:10rem;
    width:15rem;
    min-width:14rem;
    max-height:15rem;
    border-radius:20px;

    margin-top:1rem;

}
#clubs-activities
{
    margin-top:7rem;
}

#clubs-activities #hs-title
{
    text-align: center;
    margin-left:-9rem;
}

.clubs-activities
{
    height:18rem;
    width:auto;
    border-radius: 20px;
    margin-left:-2rem;
}



aside ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: center;

}




.resume-button
{
    position: relative;
    border-color: aquamarine;
    background-color:black;
    color:white;
    font-size:20px;
    margin-left:42%;
    padding:1rem;
    width:10rem;
}


.resume-button:hover {
background-color: rgb(62, 61, 61);
}




aside {
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 100%;
    background-color: rgb(40, 38, 38);
    text-align: center;
    margin: 0;
    position: fixed;
}

.email
{
    font-size:20px;
}
article
{

    margin-left:22%;
    margin-top: 0;



}




@media (max-width: 950px) {
    aside {
        width: 100%; 
        height: auto; 
        position: static;
    }

    article {
        margin-left: 0;
        width: 100%;
    }
    
}

footer
{
    margin-top:3rem;
    font-size:18px;
    text-align: center;
}